body{
    background: rgb(185, 182, 182);
    max-width: auto;
}
body hr{
    box-shadow: 2px 2px 2px black;
    margin: 20px;
}
header{
    overflow: hidden;
    margin: auto;    
    width: auto;
    background: #5c57a4;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    font-family: cursive;
}
.menu{    
    list-style: none;
    margin: 0%;
    padding: 0%;
    float: right;
}
.menu > li{
    display: inline-block;
    color: white;
    margin-left: 15px;
}
.menu > li > a{
    text-decoration: none;
    font-weight: bold;
    color: white;    
}
.menu > li > a:hover{
    text-decoration: underline;
    background: rgb(185, 182, 182);
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
}
.logo{
    float: left;    
    color: white;
}
#main{
    font-family: cursive;
    overflow: hidden;
    margin: auto;    
    width: 500px;
    background: rgba(131, 131, 236, 0.39);   
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;    
}
#sorteio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    display: inline-block;
    margin-left: 105px;
    
}
#sorteio > h1{
    padding: 5px;
    color: rgba(0, 0, 0, 0.849);
    background: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(94, 93, 93);
    border: solid, black, 10px;
    font-size: 20px;
    width: 280px;    
}
#displayNome{
    font-family: cursive;
}
#sorteio > input{    
    background: rgba(128, 255, 0, 0.459);
    height: 35px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(54, 53, 53);
    border: none;
}
.botao{
    margin: 20px;
    height: 35px;
    width: 120px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(54, 53, 53);    
    display: inline-block;
    margin-left: 80px;
    margin-top: 40px;
    font-family: cursive;
}
#sorteados > ul{
    list-style-position: inside;
    columns: 2;
}
#premios > ol{
    list-style-position: inside;
    columns: 2;
}
@media screen and (max-widht: 500px){
    .logo{
        float: none;    
        text-align: center;
    }
    .menu{    
        list-style: none;
        margin-top: 20px;
        text-align: center;
        float: none;
        background: salmon;
    }
    .menu > li{
        float: none;
        color: white;
        margin-bottom: 5px;
        padding: 5px;
    }
    #main{
        margin: auto;    
        max-width: auto;
        background: salmon;   
          
    }
}
